
<!-- head para PC -->
{% extends "base.html" %}

{% load  static %}

{% block title %}
    {{ home.title }}
{% endblock title %}

{% block description %}
    <meta name="description" content="{{ home.description }}">
{% endblock description %}

{% block content %}

{% include "includes/header.html" %}


<!------------------------- HOME -------------------------->
<div  id="inicio" name="inicio" class="h-screen w-full flex " style="background-image: url('static/img/fondo.png'); background-repeat: no-repeat; background-size: cover">
    <div class="m-auto">      
        <div class="w-full md:w-2/3 mx-auto">
            <p class="animate__animated animate__bounceIn text-3xl sm:text-3xl lg:text-5xl py-4 px-8 bg-gray-200 shadow-lg rounded-lg">Hola soy Mario Urias, un Desarrollador Web</p>
        </div>
    </div>
</div>



<!------------------------------- SOBRE MI------------------------>

<h1 id="sobreMiTitulo" class="text-5xl text-center mt-10">Sobre mi</h1>

<div class=" container mt-14 mx-auto ">     
    <div id="sobreMiDesc" class="w-5/6 mx-auto text-justify">
        <p class="text-2xl">{{sobremi.description}}</p>
       
    </div>
    <br>

    <div id="habilidades">
        <div  class="w-5/6 mx-auto mt-12">
            <h1  class="text-4xl">Mis habilidades</h1>
        </div>  
        
        <div id="tecno" class="animate__animated animate__fadeIn animate__slow grid grid-cols-2 md:grid-cols-3 pt-12 gap-10">
            

            {% for habilidad in  habilidades %}      
                <div x-data="{ tooltip: false }" class="relative z-30 inline-flex mx-auto text-center ">
                    <div x-on:mouseover="tooltip = true" x-on:mouseleave="tooltip = false" class="rounded-md border-2 border-gray-300 px-3 py-2   text-white cursor-pointer shadow">
                        <img class=" h-28  w-28 mb-4" src="{{habilidad.image.url}}">
                    </div>
                    <div class="invisible relative mx-auto " x-cloak x-show.transition.origin.top="tooltip">
                        <div class="bg-black opacity-80 text-white border-solid border-2 border-gray-800 mx-auto absolute top-0 z-10 w-32 text-sm leading-tight  transform -translate-x-full -translate-y-full bg-orange-500 rounded-lg shadow-lg">
                            <p class="text-center bg-gray-800 text-gray-200 text-lg">{{ habilidad.name }}</p>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
   
</div>



<!------------------------------- PROYECTOS -------------------------->
<hr id="proyectos" class="mt-16 border-1 border-gray-300">
<h1  class="text-5xl text-center mt-16">Proyectos</h1>

<div class="container mt-14 mx-auto">
    <div class="animate__animated animate__fadeIn animate__slow mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16">  
        {% for proyecto in  proyectos %}
            <div class="transform transition duration-700 hover:scale-110">
                <a href="{% url 'home_app:detail-project' proyecto.id %}"> 
                    <h1 class="text-3xl text-center mb-2">{{proyecto.name}}</h1>
                    <img class="w-full mx-auto" src="{{proyecto.image.url}}" alt="">
                </a>
            </div>     
        {% endfor %}
    </div>
</div>



<!------------------------------- CONTACTO -------------------------->
<hr id="contacto" class="mt-16 border-1 border-gray-300">


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 6000)">
                <div class="flex flex-col justify-center " style="z-index: 20; position: absolute;">
                    <div class="bg-green-500 shadow-lg mx-auto w-96 max-w-full text-sm pointer-events-auto bg-clip-padding rounded-lg block mb-3" id="static-example" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-autohide="false">
                        <div class="bg-green-500 flex justify-between items-center py-2 px-3 bg-clip-padding border-b border-green-400 rounded-t-lg">
                          <p class="font-bold text-white flex items-center">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check-circle" class="w-4 h-4 mr-2 fill-current" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
                            </svg>
                            Correcto</p>
                        </div>
                        <div class="p-3 bg-green-500 rounded-b-lg break-words text-white">
                            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                        </div>
                      </div>
                 </div>
            </div>
            {% endfor %}
        </ul>
    {% endif %}



<h1  class="text-5xl text-center mt-16 ">Contacto</h1>
<div class=" w-full md:w-2/3 mx-auto">
    

        <div class=" w-3/4 mx-auto mt-14">
            <div class="mx-auto grid grid-cols-3">
                <a class="transform transition duration-700 hover:scale-125  mx-auto" href="https://github.com/marioosoriourias" target="_blank">
                    <img class="inline-block h-12 mb-4" src="{% static 'img/icons/github.png' %}" title="github">
                </a>
                <a class="transform transition duration-700 hover:scale-125 mx-auto" href="https://www.linkedin.com/in/mario-urias/" target="_blank">
                    <img class="inline-block h-12 mb-4" src="{% static 'img/icons/linkedin.png' %}" title="linkedin">
                </a>
                <a class="transform transition duration-700 hover:scale-125  mx-auto" href="https://www.facebook.com/osoriourias/" target="_blank">
                    <img class="inline-block h-12 mb-4" src="{% static 'img/icons/facebook.png' %}" title="facebook">
                </a>
            </div>
        </div>
 

        <form name="formulario-contacto" action="{% url 'home_app:add-contact' %}" method="POST" >
            {% csrf_token %}
            <br>
           
            <input name="full_name" id="id_full_name" type="text" style="border: 1px solid; padding: 5px;" placeholder="Nombre" class="w-4/5 md:w-3/4  mb-4 mx-auto block">
            

            <br>
            <input name="email" id="id_email" type="email" style="border: 1px solid; padding: 5px;" placeholder="Correo" class="w-4/5 md:w-3/4  mb-4 mx-auto block">    

            <br>
            <textarea name="messagge" id="id_messagge"  cols="30" style="border: 1px solid; padding: 5px;" rows="5" placeholder="Mensaje" class="w-4/5 md:w-3/4  mb-4 mx-auto block"></textarea>


            <br>
            <button type="submit"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-2/4  mb-5 mx-auto block">
                Enviar mensaje
            </button>
        </form>
</div>



<div class="h-12 mt-16 bg-gray-700 w-full">
</div>


{% include "includes/footer.html" %}

{% endblock content %}













